<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fintechresponsi">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.FintechResponsi">
        <activity android:name=".PaymentActivity"></activity>
        <activity android:name=".HelpActivity" />
        <activity android:name=".PasswordActivity" />
        <activity android:name=".CreditCardActivity" />
        <activity android:name=".AccountBankActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".OnBoardingActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>